/* add tailwind imports */
@tailwind base;
@tailwind components;
@tailwind utilities;

/* make all qwik-react tags use display: content */
* {
    padding: 0;
    margin: 0;
}

qwik-react {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: stretch;
    align-items: stretch;

    div {
        display: flex;
        justify-content: stretch;
        align-items: stretch;

        width: 100%;
        height: 100%;
    }
}